/* Created by Artisteer v4.0.0.58475 */
@font-face {font-family:'Monplesir';src: url('font/Monplesir script.ttf');}
@font-face {font-family:'Quant Antiqua';src: url('font/Quant Antiqua Bold Italic.ttf');}
@font-face {font-family:'ZapfChancery';src: url('font/ZCHANCER.ttf');}

h1.sba-head {
	text-align : center;
	font-family : Monplesir;
	color : #f2c054 !important;
	padding : 5px 0 0;
	font-size : 3.5em;
	letter-spacing : 3pt;
}
@media all and (max-width: 768px)
{
    h1.sba-head{
    text-align : center;
	font-family : Monplesir;
	color : #f2c054 !important;
	padding : 3px 0 0;
	font-size : 2.5em !important;
	letter-spacing : 2pt !important;
    }
}
@media all and (max-width: 480px)
{
    h1.sba-head{
    text-align : left;
	font-size : 1.5em !important;
	letter-spacing : 1pt !important;
    }
}
.sba-slog{
	font-size: 20px;
	/*font-family:ZCHANCER, Monplesir, Tahoma, Arial, Helvetica, Sans-Serif;*/
	/*font-family:ZapfChancery, Tahoma;*/
	
	font-family:Quant Antiqua !important;
	letter-spacing: 1pt;
	text-align: center;
	 
	  color: #d1c09a !important;
	}


#art-main
{
   background: #BDB2A3 url('images/page.png') fixed;
   background: linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background: -webkit-linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), -webkit-linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background: -moz-linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), -moz-linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background: -o-linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), -o-linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background: -ms-linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), -ms-linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background: linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   -svg-background: linear-gradient(top, rgba(144, 127, 102, 0.07) 0, rgba(231, 227, 221, 0.18) 250px) no-repeat, url('images/page.png'), linear-gradient(top, #A09079 0, #D9D2C9 250px) no-repeat;
   background-attachment: fixed, fixed, fixed !important;
   margin:0 auto;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A79A86;
   background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -moz-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -o-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -ms-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   -svg-background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 15px;
   margin:0 auto;
   height:29px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-postcontent p
{
   margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 22px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #95836A;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #94846B;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #AC9E8B;
}

.art-postcontent h1
{
   color: #95836A;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #95836A;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #94846B;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #2D2B25;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #2D2B25;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #6B6557;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
   clear: both;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #2F2A22;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
   float: right;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 8px;
  left: 45.12%;
  line-height: 100%;
  margin-left: -223px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 36px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #DFDDD8 !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 86px;
  left: 46.75%;
  line-height: 100%;
  margin-left: -73px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 16px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #E3E2DD !important;
}






.art-sheet
{
   background: #FFFFFF;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.25);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.25);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.25);
   border:1px solid #BFB5A6;
   border-top:none;
   padding:3px;
   margin:5px auto 0;
   position:relative;
   cursor:auto;
   width: 95%;
   min-width: 700px;
   max-width: 1728px;
   z-index: auto !important;
}

.art-header
{
   margin:0 auto;
   height: 235px;
   background-image: url('../images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .art-header 
{
   background-image: url('../images/header.jpg');
   background-position: center center;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-nav
{
   background: #A79A86;
   background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -moz-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -o-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: -ms-linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   -svg-background: linear-gradient(top, #C7BFB2 0, #94846B 80%, #82745E 100%) no-repeat;
   border:2px solid #A79A86;
   border-right:none;
   padding:3px;
   z-index: 100;
   font-size: 0;
   position: absolute;
   margin: 0;
   bottom:   0;
   width: 100%;
   text-align: left;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
}

.art-nav:before 
{
   content:' ';
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 2px;
}
ul.art-hmenu>li:first-child {
   margin-left: 1px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 1px;
}

ul.art-hmenu>li>a
{
   background: #DDD8D0;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 25px;
   cursor: pointer;
   text-decoration: none;
   color: #353027;
   line-height: 25px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #B6B1A5;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:0 22px;
   margin:0 auto;
   color: #322D24;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #B6B1A5;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #000000;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #C9C2B5;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 25px;
   color: #E7E4DE;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 25px;
   color: #E7E4DE;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #BFB5A6;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #6D624F;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #8E7F67;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 14px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 2px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.art-layout-wrapper
{
   position: relative;
   margin: 10px auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-vmenublock
{
   margin:12px;
}
div.art-vmenublock img
{
   margin: 0;
}

.art-vmenublockheader
{
   padding:10px 0;
   margin:0 auto;
}
.art-vmenublockheader .t,
.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited, 
.art-vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.art-vmenublockcontent
{
   margin:0 auto;
}

ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.art-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.art-vmenu ul.active
{
   display: block;
}

ul.art-vmenu>li>a
{
   background: #BFB5A6;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   padding:0 15px;
   margin:0 auto;
   color: #4A4236;
   min-height: 32px;
   line-height: 32px;
}
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li
{
   margin-top: 4px;
}
ul.art-vmenu>li>ul
{
   padding: 0;
   margin-top: 14px;
   margin-bottom: 14px;
}
ul.art-vmenu>li:first-child
{
   margin-top:0;
}

ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.art-vmenu a:hover, ul.art-vmenu a.active:hover 
{
   color: #FDFDFC;
}

ul.art-vmenu>li>a.active:hover>span.border-top, ul.art-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.art-vmenu>li>a.active
{
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #464339;
}

ul.art-vmenu>li>ul:before
{
   background: #F2F0ED;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.art-vmenu li li a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
   position: relative;
}
ul.art-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.art-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.art-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 24px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 24px;
   color: #94846B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a:visited, ul.art-vmenu ul a.active:hover, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active
{
   line-height: 24px;
   color: #94846B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul ul a
{
   padding-left: 54px;
}
ul.art-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.art-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.art-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.art-vmenu ul>li>a:hover, ul.art-vmenu ul>li>a.active:hover
{
   background: #C8C4BC;
   background: rgba(200, 196, 188, 0.4);
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #6A5F4D;
}

ul.art-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.art-vmenu ul>li>a.active
{
   background: #BDB2A3;
   background: rgba(189, 178, 163, 0.4);
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}
ul.art-vmenu ul a.active, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #5F5A4E;
}

.art-block
{
   background: #ECE9E4;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #A79A86;
   margin:12px;
}
div.art-block img
{
   margin: 0;
}

.art-blockheader
{
   background: #B6B1A5 url('images/blockheader.png') scroll;
   background: linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), -webkit-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), -moz-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), -o-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), -ms-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(234, 232, 229, 0.27) 0, rgba(124, 118, 102, 0.11) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #8E7F67;
   padding:10px 7px;
   margin:0 auto;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.art-blockcontent
{
   padding:7px;
   margin:0 auto;
   color: #3E382D;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #3E382D;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-blockcontent p
{
   margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #9A9484;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #B2A795;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #A2927C;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -9px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   color: #534A3C;
   margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 9px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #000000;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 29px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #B6B1A5;
   background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -moz-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -o-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -ms-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -svg-background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 15px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #23201A !important;
}

.art-button.hover, .art-button:hover
{
   background: #B6B1A5;
   background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -moz-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -o-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: -ms-linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -svg-background: linear-gradient(top, #D8D6CF 0, #918A78 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 15px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #000000 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #A79A86;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #4A4236 !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #FFFFFF;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #4A4236 !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #A79A86;
   margin:0 auto;
   width: 100%;
   padding: 8px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #4A4236 !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   margin:0 auto;
   color: #000000 !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.art-checkbox:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #BFB5A6;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #C8C4BC;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -moz-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -o-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -ms-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -svg-background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #8E7F67;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #C8C4BC;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -moz-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -o-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -ms-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -svg-background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #A39D8F;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #F2F0ED 50%, #DFDAD3 50%, #ECE9E4 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #BFB5A6;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #C8C4BC;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -moz-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -o-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -ms-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -svg-background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #8E7F67;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #C8C4BC;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -moz-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -o-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: -ms-linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -svg-background: linear-gradient(top, #DAD8D2 0, #CDC9C1 50%, #BCB8AE 50%, #C8C4BC 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.3);
   border:1px solid #A39D8F;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-post
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:5px;
   margin:12px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   border: 1px solid #BFB5A6;
   margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: dashed 1px #A79A86;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheadericon:before
{
   content:url('../images/postheadericon.png');
   margin-right:6px;
   bottom: 3px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postheadericon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postheader
{
   color: #4B4235;
   margin: 5px 10px;
   font-size: 24px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: left;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 24px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: center;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: center;
   color: #AAA597;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
 	text-align: center !important;
   color: #AEA28F;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   /*text-align: left;*/
   color: #A5A092;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #4A4236;
   margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 15px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -15px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #DDD8D0 url('images/postquote.png') no-repeat scroll;
   border:1px dashed #BDB2A3;
   padding:6px 6px 6px 40px;
   margin:10px 0 0 25px;
   color: #353027;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #353027;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.art-footer
{
   background: #B6B1A5 url('images/footer.png') scroll;
   background: linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), -webkit-linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), -moz-linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), -o-linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), -ms-linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   background: linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(217, 214, 208, 0.23) 0, rgba(144, 137, 120, 0.1) 100%) no-repeat, url('images/footer.png'), linear-gradient(top, #CDC9C1 0, #9C9686 100%) no-repeat;
   padding:20px;
   margin:10px auto 0;
   position: relative;
   color: #181511;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #181511;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #5A4F3F;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #594F40;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #3E382D;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer img
{
   margin: 5px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -10px;
}
.opera .art-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer li
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #2F2A22;
}

.art-footer ul>li, .art-footer ol
{
   padding: 0;
}

.art-footer ul>li
{
   padding-left: 10px;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #3C342A;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #3B352B;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-sidebar1
{
   background: #DDD8D0;
   background: transparent;
   border-right:1px solid #A79A86;
   margin:0 auto;
   width: 316px;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
